<div class="col-sm-12 div-footer">
    <div class="col-sm-8 ">
        <div class="text-footer" style="text-align: center;">
            <img class="logo-pgr-escudo" src="/Content/newDesing/images/RD_MP_footer.png" style="margin: 1px 0 0 -7px;">
            <div style="margin-top: 7px;">
                <span><strong>Procuraduría General de la República</strong></span>
                <br class="v-desktop">
                <span class="menu-footer"><a href="https://portal.servicios.pgr.gob.do/Home">Inicio</a> | </span>
                <span class="menu-footer"><a target="_blank" href="https://pgr.gob.do/mapa-del-sitio/">Mapa del sitio | </a></span>
                <span class="menu-footer"><a href="https://portal.servicios.pgr.gob.do/Contactos">Contacto</a> </span>
                <br>
                <span class="direccion">Ave. Jiménez Moya esq. Juan Ventura Simó, Centro de los Héroes, Santo Domingo, República Dominicana</span>
                <br class="esconder">
                <span class="contactoo">Tel.:  <a href="tel:809-533-3522" style="color:#0095eb"> 809-533-3522</a> | Mesa de ayuda: ext. 133 / 1125 / 2001 / 2002 / 2004 / 2005  | Email: <a href="mailto:mesadeayuda@pgr.gob.do" style="color:#0095eb">mesadeayuda@pgr.gob.do</a></span>
                <br class="esconder">
                <div><a href="mailto:reclutamiento@pgr.gob.do?subject=Postulación para vacante (Escriba nombre de la vacante a la que aplica)">Trabaja con nosotros</a></div>
                
                <span class="otras-vainas" style="color: #000000;" id="span-footer"><a target="_blank" href="https://pgr.gob.do/terminos-y-condiciones-de-uso/">Términos de Uso</a> | <a href="http://pgr.gob.do/politicas-de-privacidad/">Políticas de Privacidad</a> | <a href="http://pgr.gob.do/preguntas-frecuentes/">Preguntas Frecuentes</a></span>
                <br class="esconder">
                © 2024, Todos los Derechos Reservados
                <br>REPÚBLICA DOMINICANA
                <br>
                <span class="movil-version">Versión móvil certificada bajo la NORTIC A2:2013 13001-02-A20D01</span>
                <br>
            </div>




            <!--  -->
            <div class="rrss">
                <a href="https://twitter.com/ProcuraduriaRD" target="_blank"><img src="/Content/images/Twitter-azul.png" width="25" alt="Twitter | Procuraduría General de la República"></a>
                <a href="https://es-la.facebook.com/ProcuraduriaGralRD/" target="_blank"><img src="/Content/images/facebook-azul.png" width="25" alt="Facebbok | Procuraduría General de la República"></a>
                <a href="https://www.instagram.com/procuraduriagralrd/?hl=es-la#:~:text=Procuradur%C3%ADa%20General%20RD%20(%40procuraduriagralrd)%20%E2%80%A2%20Instagram%20photos%20and%20videos" target="_blank"><img src="/Content/images/instagram-azul.png" width="25" alt="Instagram | Procuraduría General de la República"></a>
                <a href="https://www.youtube.com/c/ProcuraduriaGralRD" target="_blank"><img src="/Content/images/Youtube-azul.png" width="25" alt="Youtube Procuraduría General de la República"></a>

                
            </div>
        </div>
    </div>
</div>