<div class="frame1">
    <div class="divuwy"></div>
    <div class="divheader">
      <div class="frame2">
        <div class="section-list">
          <div class="item-link">
            <img class="icon" alt="" src="/assets/public/icon@2x.png" />
            <div class="inicio">Inicio</div>
          </div>
          <div class="item-link1">Nosotros</div>
          <div class="item-link2">Requisitos y tarifas</div>
          <div class="item-link3">Quejas y sugerencias</div>
          <div class="item-link4">Denuncias</div>
          <div class="item-link5">Atención a víctimas</div>
          <div class="item-link6">Iniciar sesión</div>
        </div>
      </div>
      <header class="frame3">
        <div class="link"></div>
        <div class="frame4">
          <img class="logo-mp-sgsvg-fill-icon" alt="" src="/assets/public/logompsgsvg-fill@2x.png" />
          <div class="divhidden-xs">
            <div class="frame5">
              <div class="frame6">
                <img class="img-header-rep-dompng-icon" alt="" src="/assets/public/img-header-rep-dompng@2x.png" />
              </div>
              <div class="form">
                <img class="link-icon" alt="" src="/link@2x.png" />
                <div class="frame7">
                  <form class="input">
                    <input type="text" placeholder="Buscar..." />
                  </form>
                  <img class="button-icon" alt="" src="/assets/public/button@2x.png" />
                </div>
              </div>
            </div>
            <div class="nav">
              <div class="link-inicio">Inicio</div>
              <div class="div">|</div>
              <div class="link-mapa">Mapa del Sitio</div>
              <div class="div">|</div>
              <div class="link-contacto">Contacto</div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
  