<section class="servicios">
  <div class="container post4">
    <div class="panel-body container-content" id="countDonw">
      <div class="row">
        <div class="col-sm-12 col-xs-12 post3 ocultar mostrar animated slideInUp">
          <div class="welcomeCard">
            <h2 class="welcomeCard__welcome">Bienvenido/a</h2>
            <h3 class="welcomeCard_welcomeHome">A su Centro de Servicios en Línea de la Procuraduría General</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-3 post3 ocultar mostrar animated slideInUp">
          <ul class="nav nav-tabs nav-stacked text-center" role="tablist">
              <li role="presentation" class="active" id="liServicios"> 
                <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab" style="text-transform: uppercase;">SOLICITAR SERVICIOS EN Línea</a></li>
              <li role="presentation" id="liConsultas">
                <a  href="#consultas" aria-controls="consultas" role="tab" data-toggle="tab" style="text-transform:uppercase;">consultar servicios en línea</a></li>
              <li role="presentation" id="liServiciosCiudadano">
                  <a href="" style="text-transform:uppercase;"></a>
              </li>
          </ul>
        </div>
        <div class="col col-sm-9">
            <div class="tab-content" id="contenidoTab">
              <div role="tabpanel" class="tab-pane fade active in post clasep ocultar mostrar animated slideInUp" id="servicios">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail thumbnailCenter">
                            <img src="/assets/public/impedimento-salida1200x200-1@2x.png">
                            <div class="caption">
                                <h3>Certificación de Existencia de Impedimento de Salida</h3>
                                <p>...</p>
                                <p><a routerLink="/certificado-impedimento-salida" class="btn btn-primary-2" role="button">Solicitar</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 ">
                        <div class="thumbnail thumbnailCenter">                         
                            <img src="/assets/public/levantamiento-impedimento-salida1200x200-1@2x.png">
                            <div class="caption">
                                <h3>LEVANTAMIENTO DE IMPEDIMIENTO DE SALIDA</h3>
                                <p>...</p>
                                <p><a routerLink="/levantamiento-impedimento-salida" class="btn btn-primary-2" role="button">Solicitar</a></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

              <!-- slideOutUp -->
              <div role="tabpanel" class="tab-pane fade post clasep ocultar mostrar animated slideInUp " id="consultas">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail thumbnailCenter">
                            <img src="/assets/public/impedimento-salida1200x200-1@2x.png">
                            <div class="caption">
                                <h3>Certificación de Existencia de Impedimento de Salida</h3>
                                <p>...</p>
                                <p><a routerLink="/consulta-existencia-impedimento-salida" class="btn btn-primary-2" role="button">Consultar</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 ">
                        <div class="thumbnail thumbnailCenter">                         
                            <img src="/assets/public/levantamiento-impedimento-salida1200x200-1@2x.png">
                            <div class="caption">
                                <h3>LEVANTAMIENTO DE IMPEDIMIENTO DE SALIDA</h3>
                                <p>...</p>
                                <p><a routerLink="/consulta-levantamiento-impedimento-salida" class="btn btn-primary-2" role="button">Consultar</a></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

            </div>
        </div>        
      </div>
  </div>
</div> 
  </section>
  