    #nombreCompleto {
        font-weight: bold;
        font-size: 21px;
        padding-top: 15px;
    }

        #nombreCompleto a {
            color: white !important;
        }

    #modalConfirm {
        position: fixed;
        background: #00000052;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9999;
    }

    .modal-dialog {
        width: clamp(320px, 80%, 800px);
        margin: 25vh auto;
    }

    .modal-dialog-biometrico {
        width: clamp(320px, 80%, 800px);
        margin: 25vh auto;
    }

    .modal-content {
        text-align: center;
        /* background-image: url(../Content/images/mp-popup-web.jpg); */
        background: white;
        background-size: cover;
        background-position: right;
        z-index: 1000;
    }

    .modal-content-biometrico {
        text-align: center;
        /* background-image: url(../Content/images/mp-popup-web.jpg); */
        background: white;
        background-size: cover;
        background-position: right;
        z-index: 1000;
    }

    .header-img {
        /* background: url(../Content/images/mp-popup-web.jpg) no-repeat; */
        background-size: cover;
        width: 100%;
        height: 100px;
        display: grid;
        place-content: center;
    }

    .modal-body {
        position: relative;
        padding: 20px;
        color: #fff !important;
    }

    .modal-header {
        min-height: 16.428571429px;
        border-bottom: none !important;
        width: 55%;
        text-align: center;
        margin: 0 auto;
    }

    .modal-title {
        margin: 0;
        line-height: 1.428571429;
        text-align: center;
    }

    hr.hr-1 {
        border: 2px solid#fff;
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    h5 {
        font-size: 21px !important;
        text-transform: uppercase !important;
        color: #fff !important;
        font-weight: 600 !important;
        margin-top: 5px !important;
    }

    .modal-body {
        position: relative;
        padding: 20px;
        color: #fff;
    }

    .modal-footer {
        padding: 19px 20px 20px;
        margin-top: 15px;
        text-align: right;
        border-top: none;
        display: flex !important;
        justify-content: center;
    }

        .modal-footer .btn-primary {
            background-color: white !important;
            color: #0d68b2;
            border: solid 2px;
            font-weight: 600;
            border-radius: 20px;
        }

    .btn-primary:hover, .btn-primary:focus {
        background: #0d68b2 !important;
        color: #fff;
        border: 2px solid#fff;
    }

    .btn-primary:hover, .btn-primary:focus {
        background: #0d68b2 !important;
        color: #fff;
    }

    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*fin modal*/
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-stacked > li + li {
        margin-top: 0px;
    }

    .nav-tabs > li > a {
        padding: 51px 47px !important;
        color: #fff;
        background-color: rgba(227, 242, 253, 0.31);
        box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
        border: 0px;
        border-radius: 0px;
        margin: 0;
    }

        .nav-tabs > li > a:hover, .nav-ftabs > li > a:focus {
            background-color: #0d68b2;
            color: #FFFFFF;
            z-index: 99;
            transition: all 0.5s ease 0s;
        }

    .nav-tabs > li.active > a {
        color: #FFFFFF;
        background-color: #0d68b2;
        box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
        z-index: 100;
    }

        .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #FFFFFF;
            background-color: #0d68b2;
            box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
            transition: all 0.5s ease 0s;
        }

    .nav-tabs {
        min-height: 380px;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 1px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        transition: all 0.5s ease 0s;
    }


    .btn-primary {
        background-color: #0d68b2 !important;
    }

        .btn-primary:hover, .btn-primary:focus {
            background-color: #0D47A1;
        }


    /*otros estilos*/

    .container-content {
        background-color: transparent !important;
    }



    .bienvenida h2 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        color: #fff !important;
        letter-spacing: 6px;
        line-height: 18px;
        font-size: 50px !important;
    }


    .bienvenida h3 {
        color: #f2ec8c !important;
    }


    .caption > h3 {
        color: #fff !important;
        font-size: 13px !important;
        font-weight: 500 !important;
        padding-top: 13px !important;
        line-height: 30px;
    }

    .thumbnail {
        padding: 10px;
        margin-bottom: 0px !important;
        line-height: 1.428571429;
        background-color: rgba(255, 255, 255, 0.05);
        border: none !important;
        border-bottom: 3px solid #B9B8B8 !important;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        text-align: center;
        min-height: 403.5px;
        backdrop-filter: blur(5px);
        border-radius: 20px;
    }

        .thumbnail:hover {
            background-color: rgba(255, 255, 255, 0.20);
        }

        .thumbnail > img, .thumbnail a > img, img.cardRequeriments__imgAdjust--imgPago {
            width: clamp(50px, 100%, 140px);
        }

        .thumbnail .caption {
            min-height: 203px;
        }

    .caption p {
        position: absolute !important;
        left: 50% !important;
        bottom: 0 !important;
        margin-bottom: 60px !important;
    }

        .caption p a {
            position: relative !important;
            left: -50% !important;
        }

    .next-prev {
        border: none;
        width: 30px;
        height: 30px;
        font-size: 20px;
        background: #46657f;
        color: #fff;
    }

    .contenedor2 {
        position: relative;
        width: 100%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .text {
        white-space: nowrap;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .categoria3 .thumbnail > img, .thumbnail a > img {
        max-width: 120px !important;
    }

    .categoria3 .caption > h3 {
        font-size: 14px !important;
    }

    .swal2-content {
        font-size: 16px !important;
    }

    .col-lg-2, .col-md-2, col-sm-2, .col-lg-3, .col-md-3, col-sm-3 {
        padding-right: 5px;
        padding-left: 5px;
    }

    h3.title-consulta {
        padding-top: 12px !important;
    }

    .nav-tabs {
        border-radius: 20px !important;
        overflow: hidden !important;
    }
   ul {
    display: block;
   }