<section class="servicios">
    <div class="container post4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true" style="font-size: 17px; padding-right:5px;"></i>
                    Inicio
                </a>
            </li>
            <li class="breadcrumb-item active">Servicios en línea / </li>
        </ol>
        <div class="panel-body container-content" id="countDonw">



            <div class="row">
                <div class="col-md-12 ">
                    <h2><span>Solicitud de Levantamiento de Impedimento de Salida </span></h2>
                </div>
            </div>
            <div class="tab-nav">
                <ul class="nav nav-tabs navTabCAS">
                    <li class="naVtabCAS__tabsCAS"><a class="navTabCAS__tabsCAS--btnCAS" data-toggle="tab" href="#menu1"
                            aria-expanded="false">Requisitos</a></li>
                    <li class="naVtabCAS__tabsCAS active"><a class="navTabCAS__tabsCAS--btnCAS" data-toggle="tab"
                            href="#home" aria-expanded="true">Solicitar Levantamiento</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade active in">

                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="cardViews">
                                    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="exampleInputFile">Carta de solicitud</label>
                                        <div class="input-group col-sm-8">
                                        <div class="custom-file input-group-append">
                                            <label class="custom-file-label" for="exampleInputFile"></label>
                                            <input type="file" class="custom-file-input form-control" id="carta" (change)="onFileSelected($event, 'carta')" formControlName="carta">
                                        </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="exampleInputFile">Sentencia del descargo</label>
                                        <div class="input-group col-sm-8">
                                        <div class="custom-file input-group-append">
                                            <label class="custom-file-label" for="exampleInputFile"></label>
                                            <input type="file" class="custom-file-input form-control" id="sentencia" (change)="onFileSelected($event, 'sentencia')" formControlName="sentencia">
                                        </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="exampleInputFile">Certificación de no recurso de apelación</label>
                                        <div class="input-group col-sm-8">
                                        <div class="custom-file input-group-append">
                                            <label class="custom-file-label" for="exampleInputFile"></label>
                                            <input type="file" class="custom-file-input form-control" id="noRecurso" (change)="onFileSelected($event, 'noRecurso')" formControlName="noRecurso">
                                        </div>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
                                        <div class="input-group col-sm-8">
                                          <input type="email" class="form-control" id="email" placeholder="Ingrese Email" formControlName="email">
                                        </div>
                                      </div>
                                    <div class="col-lg-offset-9 col-lg-3 ">
                                        <button type="submit" id="ValidarYGuardar" class="btn btn-primary pull-right" [disabled]="formulario.invalid">Enviar</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div id="accordion">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="cardRequeriments">
                                        <div class="cardRequeriments__imgAdjust">
                                            <img class="cardRequeriments__imgAdjust--imgReq"
                                                src="/assets/Content/images/information.svg">
                                        </div>
                                        <span class="cardRequeriments__text">Este servicio Se realiza a solicitud del interesado, y se ejecuta de manera provisional o definitiva con la presentación de la sentencia u orden judicial que aprueba el levantamiento de la medida de coerción que se le atribuye.</span>
                                    </div>
                                </div>
                            </div>
                            <section id="item1" class="requisitosCards">
                                <div class="requisitosCards__requisitosCardstitle ">
                                    <h6 class="requisitosCards__requisitosCardstitle--requisitosCardsText">Solicitud de
                                        Levantamiento de Impedimento de Salida
                                    </h6>
                                </div>
                                <div class="contenido_requisitos">
                                    <span>El levantamiento de Impedimento de Salida se pueden solicitar de manera presencial o
                                        a través de nuestros servicios en línea, visitando www.pgr.gob.do.</span>
                                    <p>Requisitos:</p>
                                    <ul style="list-style-type:circle;">
                                        <li>- Documento de identidad y electoral del
                                            solicitante.</li>
                                        <li>- Instancia dirigida al Procurador General de la República, solicitando el levantamiento del impedimento de salida.</li>
                                        <li>- Original o copia certificada de la sentencia/resolución que ordena el cese de la medida de coerción de impedimento de salida, con su respectiva Certificación de No Recurso, o la certificación/decisión judicial que ordena el levantamiento del impedimento de salida por cese del estado de rebeldía del imputado, según aplique.</li>
                                    </ul>
                                    <p>Pasos a seguir para esta solicitud:</p>
                                    <ul style="list-style-type: none;">
                                        <li>1. Ingresar y registrarse en el portal de servicios de la Procuraduría
                                            General de la República, a través del siguiente enlace <a
                                                href="https://portal.servicios.pgr.gob.do/UsuariosCiudadanos">https://portal.servicios.pgr.gob.do/UsuariosCiudadanos</a>.
                                        </li>
                                        <li>2. Luego de registrarse, en el portal de servicios de la Procuraduría General de la República <a href="https://portal.servicios.pgr.gob.do">https://portal.servicios.pgr.gob.do</a>, debe seleccionar la opcion "Levantamiento de Impedimento de Salida", llene todos los campos del formulario y seleccione la opción validar y guardar datos.</li>
                                        <li>3. Una vez sea emitido el Decreto, el ciudadano recibirá una notificación
                                            vía correo electrónico informándole sobre el estatus de su solicitud, instruyéndole sobre los próximos pasos correspondientes.
                                        </li>
                                    </ul>

                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3 ">
                                            <div class="border-card">

                                                <img class="images-service-card"
                                                    src="/assets/Content/images/horario-y-lugar.png" alt="Horarios"
                                                    width="50px" pagespeed_url_hash="2823156086">

                                                <div class="header-card-text">Horario y lugar de Prestación</div>
                                                <div class="body-card-text">
                                                    En línea, 24 horas, 7 días de la semana.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="border-card">
                                                <img class="images-service-card"
                                                    src="/assets/Content/images/costo-del-servicio.png" alt="Costos"
                                                    width="50px" pagespeed_url_hash="2920370417">

                                                <div class="header-card-text">Costo</div>
                                                <div class="body-card-text">RD$0.00</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-md-3">
                                            <div class="border-card">
                                                <img class="images-service-card"
                                                    src="/assets/Content/images/tiempo-de-realizacion.png"
                                                    alt="Tiempo de realización" width="50px"
                                                    pagespeed_url_hash="1245284848">

                                                <div class="header-card-text">Tiempo de Realización</div>
                                                <div class="body-card-text">
                                                    7 Días laborables
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 ">
                                            <div class="border-card">
                                                <img class="images-service-card"
                                                    src="/assets/Content/images/contacto.png" alt="Contacto"
                                                    width="50px" pagespeed_url_hash="910831855">

                                                <div class="header-card-text">Contacto Directo</div>
                                                <div class="body-card-text">
                                                    (809)-533-3522 <br>
                                                    Ext.: 1088 y 293.
                                                    <br>
                                                    impedimentosdesalida@pgr.gob.do
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>